main
{
    height: 96vh;
    overflow: scroll;
}
footer
{
    height: 4vh;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}



.roboto-mono-500 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-300{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}